/* scrollbar */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #FDBB5D;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #f8a024;
}

body {
  font-family: "Poppins", sans-serif!important;
  margin: 0;
  padding: 0;
  background-color: #FFF5DA;
}

.navbar-brand,
.nav-link {
  color: #1D284F !important;
}

.register-button {
  background-color: #FDBB5D !important;
}

.register-button:hover {
  background-color: #f8a024 !important;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

header {
  background: #FFF5DA;
  color: #fff;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: #FDBB5D 3px solid;
  text-align: center;
}

.header-img {
  width: 100%;
  height: auto;
}

header h1 {
  text-transform: uppercase;
  margin: 0;
  font-size: 2em;
}

.description {
  padding: 20px;
  background: #FFF5DA;
  margin-top: 20px;
  box-shadow: 0px 0px 10px 0px #ccc;
}

.description h2,
.description h3 {
  margin-top: 0;
}

.description p {
  line-height: 1.6em;
}

.navbar {
  background: #333;
  color: #fff;
  overflow: hidden;
}

.navbar ul {
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

.navbar ul li {
  display: inline;
}

.navbar ul li a {
  text-decoration: none;
  color: #fff;
  padding: 15px 20px;
  display: inline-block;
  border-radius: 10px;
}

.navbar ul li a:hover {
  background: #FDBB5D;
}

@media(max-width: 992px) {
  .register-button{
    padding-left: 20px!important;
    padding-right: 20px!important;
  }

  .navbar ul li a:hover {
    background: #FDBB5D;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  position: absolute;
  bottom: 0;
  width: 100%;
}

h1 {
  color: #1D284F;
}

.title{
  font-family: "Raleway", sans-serif!important;
}

#about{
  color: #1D284F!important;
}

#features .card{
  transition: all .2s ease-in-out;
}
#features .card:hover{
  transform: scale(1.05);
}